*{
	margin: 0px;
	padding: 0px;
}
.clear{
	clear: both;
	overflow: hidden;
	height: 0px;
}
ul li{
	list-style: none;
}
 a{
	text-decoration: none;
}
#tou{
	width: 100%;
	height:103px;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 999;
	border-bottom: 1px solid #cccccc;
	
}
#tou .tou1{
	width: 100%;
	height: 35px;
	background: black;
}
#tou .tou1 .tous{
	width: 972px;
	height: 34px;
	margin: 0px auto;
}
#tou .tou1 .tous .zuo{
	width: 400px;
	height: 34px;
	line-height: 34px;
	float: left;
}


#tou .tou1 .tous .zuo ul li{
	float: left;
	
}
#tou .tou1 .tous ul li a{
	color:white ;
	display: block;
	padding: 0px 5px;
}

#tou .tou1 .tous .you{
	width: 400px;
	height: 34px;
	line-height: 34px;
	float: right;
}
#tou .tou1 .tous .you ul li{
	list-style: none;
	float:right;	
}
#tou .tou1 .tous .you ul li a .tu1{
	width: 30px;
	height: 27px;
}
#tou .tou1 .tous .you ul li .tu2{
	background: url(../img/images/head.png) -0px -186px no-repeat;
	width: 30px;
	height: 27px;
}
#tou .tou1 .tous .you ul li .tu3{
	background: url(../img/images/head.png) -105px -183px no-repeat;
	width: 30px;
	height: 27px;
}
#tou .tou2{
	width: 100%;
	height: 68px;
	margin: 0px auto;
	background:#f0f0f0 ;
}
#tou .tou2 .toux{
	width: 972px;
	height: 67px;
	line-height: 59px;
	margin: 0px auto;
}
#tou .tou2 .toux .logo{
	width:123px ;
	height: 59px;
	float:left;
	padding:4px 0px ;
}
#tou .tou2 .toux ul li{
	margin: 15px 0px;
	height: 30px;
	line-height: 30px;
	float:left;
}
#tou .tou2 .toux ul li a{
	padding-bottom: 0px;;
	color:#606060;
	font-size: 17px;
	display: block;
	margin: 0px 7px;
	
}
#tou .tou2 .toux ul li .b1{
	font-size:21px ;
}
#tou .tou2 .toux ul li .b2{
	font-size:10px ;
}
#tou .tou2 .toux .b3{

	width: 150px;
	height:25px;
	color:#a9a9a9 ;
    float:right;
    margin:20px 2px;
	
}

#tou .tou2 .toux  .b4{
	border: 1px solid red;
    margin-top: 20px;
	background: url(../img/images/head.png) -111px -127px no-repeat;
	border: 1px  solid #CCCCCC;
	width: 34px;
	height: 29px;
	float: right;
}
#neirong{
	margin-top: 103px;
	width: 100%;
	height: 2370px;
	background:#f0f0f0  ;
}
#neirong .da{
	width: 972px;
	height: 2295px;
	margin: 0px auto;
}
#neirong .da .zb{
	width: 728px;
	height: 2270px;
	float: left;
}
#neirong .da .zb .zb1{
	width: 727px;
	height: 413px;
	
}
#neirong .da .zb .zb1 .zb11{
	width: 711px;
	height: 360px;
	margin:30px auto; 
}
#neirong .da .zb .zb2{
	width: 727px;
	height: 450px;
	margin-bottom: 10px;
	background: white;
}
#neirong .da .zb .zb2 .zb21{
	border-bottom: 2px solid lightgray ;
	width: 710px;
	height: 40px;
	line-height: 40px;
	margin: 0px auto;
}
#neirong .da .zb .zb2 .zb21 .sh,.gd{
	color:#606060 ;
	text-decoration: none;
}
#neirong .da .zb .zb2 .zb21 .sh{
	margin-left:15px;
	float: left;
	font-weight: bold;
	font-size:20px ;
}
#neirong .da .zb .zb2 .zb21 .gd{
	float: right;
}
#neirong .da .zb .zb2 .zb22{
	width: 699px;
	height:385px ;
	margin: 10px auto;
	background: #F0F0F0;
}
#neirong .da .zb .zb2 .zb22 .s1,.s2,.s3,.s4,.s5,.s6{
	background: white;
	width: 227px;
	height: 187px;
	margin: 2px ;
	float: left;
}
#neirong .da .zb .zb2 .zb22  .z1{
	margin: 12px 9px;
}
#neirong .da .zb .zb2 .zb22 .s2,.s5{
	margin:2px 5px 5px 5px ;
	float: left;
}
#neirong .da .yb{
	width: 240px;
	height: 2270px;
	float: right;
}
#neirong .da .yb .yb1{
	width: 230px;
	height:400px;
	margin-top: 20px ;
	float: right;
	background:#f9f9f9;

	
}
#neirong .da .yb .yb1 .q1{
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #cccccc;
	width: 87%;
	color:#606060;
	font-size: 23px;
	font-weight:bold ;
	text-decoration: none;
	margin:auto;
	padding-left:18px ;
	
}
#neirong .da .yb .yb1 .q2{
	margin:7px 10px auto;
	float: left;
}
#neirong .da .yb .yb1 .q3{
	color:#606060 ;
	text-decoration: none;
	font-size: 17px;
	margin-left: 12px;
}
#neirong .da .yb .yb1 .q3 span{
	color: black;
}

#neirong .da .yb .yb1 ul li{
	letter-spacing: 1px;
	text-indent: 2em;
	margin-left: 10px;
}
#neirong .da .yb .yb1 ul li .q4{
	
	color:#606060 ;
	font-size: 14px;
	margin-top: 10px;
}
#neirong .da .yb .yb2{
	width: 230px;
	height: 220px;
	margin-top: 23px ;
	margin-bottom: 10px;
	float: right;
	background: #f9f9f9;
}
#neirong .da .yb .yb2 ul{
	margin-left:10px ;
	margin-top: 10px;
}
#neirong .da .yb .yb2 ul li {
	height:20px;
	line-height: 20px;
	float: left;
	margin: 5px 3px;
}
#neirong .da .yb .yb2 ul li .w2{
    font-size: 25px;
    color: orange;
}
#neirong .da .yb .yb2 ul li .w3{
	color: black;
}
#neirong .da .yb .yb2 ul li .w4{
	color: black;
}
#neirong .da .yb .yb2 ul li .w5{
	font-size: 18px;
	color:#75c50a ;
}
.w9{
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #cccccc;
	width: 87%;
	margin: 0px auto;
}
.w9 .w10{
	color:#75c55c;
	font-size: 15px;
	font-weight:bold ;
	text-decoration: none;
	padding-left:10px ;
}
.w9 .w11{
	color: #606060;
	float: right;
	font-size: 13px;
	text-decoration: none;
}
#neirong .da .yb .yb3{
	width: 230px;
	height: 300px;
	float: right;
	background: #f9f9f9;
}
#neirong .da .yb .yb3 .r1{
	border:1px solid #f9f9f9; ;
	height:65px;
	border-bottom: 1px dashed #cccccc;
	width: 87%;
	margin: 0px auto;
}
#neirong .da .yb .yb3 .r1 img{
	float: left;
	margin: 9px 0px;	
}
#neirong .da .yb .yb3 .r1 ul li{

	width:100px;
	margin: 6px 0px;
	padding-left:60px ;
	margin-top:10px ;
}
#neirong .da .yb .yb3 .r1 ul .r2{
	font-size: 13px;
	color: black;
	font-weight: bold;
}
#neirong .da .yb .yb3 .r1 ul .r3{
	font-size:13px ;
	color: #606060;
}
#neirong .da .yb .yb3 .r4{
	width: 210px;
	height: 175px;
	margin: 0px auto;
	
}
#neirong .da .yb .yb3 .r4 ul {
	padding:5px  0px;
}
#neirong .da .yb .yb3 .r4 ul li{
	padding-top:2px ;
	color: #606060;
	font-size: 13px;
}
#neirong .da .yb .yb3 .r4 .r5{
	width:210px ;
	height:115px ;
	
}
#neirong .da .yb .yb4{
	width: 230px;
	height:280px;
	margin: 10px 0px;
	float: right;
	background:#f9f9f9;
}
#neirong .da .yb .yb4 .yb41{
	width: 210px;
	height: 240px;
	margin: 0px auto;
}
#neirong .da .yb .yb4 .yb41 img{
	padding: 10px 5px;
}
#neirong .da .yb .yb4 .yb41 .yb42{
	font-size: 13px;
	text-decoration: none;
	color:#606060 ;
	padding-left:18px ;
}
#neirong .da .yb .yb4 .yb41 hr{
	width: 95%;
	margin: 0px auto;
}
#neirong .da .yb .yb4 .yb41 .yb43{
	font-size: 13px;
	text-decoration: none;
	color: black;
	padding-left:24px ;
}

#neirong .da .yb .yb5{
	width: 230px;
	height: 300px;
	float: right;
	background: #f9f9f9;
}
#neirong .da .yb .yb5 .yb51{
	width: 195px;
	height: 260px;
	margin: 0px auto;
}
#neirong .da .yb .yb5 .yb51 .yb52 {
	padding:10px 0px ;
}
#neirong .da .yb .yb5 .yb51 .yb52 img{
	float: left;
}
#neirong .da .yb .yb5 .yb51 .yb52 .yb521,.yb522{
	font-size: 14px;
	font-weight: bold;
	padding-left:105px;
}
#neirong .da .yb .yb5 .yb51 .yb52 .yb522{
	padding-top:10px ;
}
#neirong .da .yb .yb5 .yb51 .yb52 .yb522 span{
	font-weight: normal;
	font-size: 13px;
}

#neirong .da .yb .yb5 .yb51 .yb53{
	border-top: 1px dashed gainsboro;
	margin-top:7px ;
	padding:1px 0px;
}
#neirong .da .yb .yb5 .yb51 .yb53 a{
	padding-left:8px ;
	font-size: 14px;
	text-decoration: none;
	color: #606060;
}
#neirong .da .yb .yb6{
	width: 230px;
	height: 385px;
	margin:10px 0px;
	float: right;
	background: #f9f9f9;
}
#neirong .da .yb .yb6 .yb61{
	border-bottom: 1px dashed #A9A9A9;
	width:195px ;
	height:55px ;
	margin: 0px auto;
}
#neirong .da .yb .yb6 .yb61 .yb62{
	width: 190px;
	height: 49px;
	margin: 10px  auto;
}
#neirong .da .yb .yb6 .yb61 .yb62 img{
	float: left;
}
#neirong .da .yb .yb6 .yb61 .yb62 ul li a{
	padding-left:10px ;
}
#neirong .da .yb .yb6 .yb61 .yb62 ul li .yb63{
	color: #606060;
	font-size: 13px;
}
#neirong .da .yb .yb6 .yb61 .yb62 ul li .yb64{
	color: #A9A9A9;
	font-size: 12px;
}
#neirong .da .yb .yb7{
	width: 230px;
	height: 291px;
	float: right;
	background: #f9f9f9;
}
#neirong .da .yb .yb7 .yb71{
	width:199px;
	height: 224px;
	margin-top: 12px;
}
#neirong .da .yb .yb7 .yb71 .yb72{
	float: left;
	background: url(../img/images/sites.png) -230px 0px;
	width: 97px;
	height: 70px;
}
#neirong .da .yb .yb7 .yb71 .yb73{
	float: right;
	background: url(../img/images/sites.png) -340px -140px;
	width: 97px;
	height: 70px;
}
#neirong .da .yb .yb7 .yb71 .yb74{
	float: left;
	background: url(../img/images/sites.png) -230px -70px;
	width: 97px;
	height: 70px;
	margin: 1px 0px;
}
#neirong .da .yb .yb7 .yb71 .yb75{
	float: right;
	background: url(../img/images/sites.png) -340px -70px;
	width: 97px;
	height: 70px;
	margin: 1px 0px;
}
#neirong .da .yb .yb7 .yb71 .yb76{
	float: left;
	background: url(../img/images/sites.png) -230px -140px;
	width: 97px;
	height: 70px;
}
#neirong .da .yb .yb7 .yb71 .yb78{
	float: right;
	background: url(../img/images/sites.png) -230px -210px;
	width: 97px;
	height: 70px;
}
#xb{
	width: 100%;
	height: 60px;
	border-top:1px solid #CCCCCC ;
}
#xb .xb1{
	width: 140px;
	height: 50px;
	margin: 0px auto;
	padding-top: 10px;
}
.fh{
	position:fixed ;
	right: 30px;
	bottom: 80px;
	
	width: 58px;
	height: 70px;
	text-align: center;
	line-height: 30px;
    
    background:#999999;
    position: fixed;
}
.fh a,.yj a{
	font-size: 12px;
	color: #FFFFFF;

}
.fh1,.yj1{
	width: 30px;
	height: 25px;
	margin: 0px auto;
	margin-top:10px ;
	
	
}
.fh1{
	background: url(../img/images/sjbz_survey.png)-60px -0px;
}
.yj{
	position:fixed ;
	right: 30px;
	bottom: 10px;
	
	width: 58px;
	height: 70px;
	text-align: center;
	line-height: 30px;
    
    background:#3687d9;
    position: fixed;
}
.yj1{
	background: url(../img/images/sjbz_survey.png)2px -0px;
}

